################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Release/Gengo.tlog
/Release
/x64/Debug/Gengo.tlog
/x64/Debug
/Gengo.VC.VC.opendb
/Gengo.VC.db
